@charset "utf-8";
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h3,h4,h5,h6 {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	color: #242424;
	margin: 0 0 16px;

	@media all and (max-width: 767px){
		font-size: 24px;
		line-height: 26px;
	}
}

.sear_accor_block {
    border-bottom: 1px solid #B5B6B8;

    .sear_accor_name {
        padding: 11px 40px 11px 0;
        cursor: pointer;
        font-style: italic;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #1B1B1F;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 20px;
			width: 14px;
			margin: auto;
			height: 8px;
			background: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.23256 6.17569L6.98656 6.92969L13.0216 0.894688L12.2676 0.140688L6.98656 5.42169L1.73056 0.165686L0.976562 0.919685L3.98956 3.93269L6.23256 6.17569Z' fill='%23183E98'/%3E%3C/svg%3E%0A") 50% no-repeat;
		}
    }

    .sear_accor_body {
    	display: none;
    	font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #1B1B1F;

    	p{
    		margin: 0 0 20px;
    	}
    }

    &.opened {

    	.sear_accor_name {
    		&:before {
    			transform: rotate(180deg);
    		}
    	}
    }
}

.btn_footer {
	@media all and (max-width: 1400px){
		position: static;
	}
}

.list_news_wr {
	display: flex;
	justify-content: space-between;
	font-size: 0;

	@media all and (max-width: 940px){
		display: block;
	}

	.big_news {
		display: flex;
		text-decoration: none;
		position: relative;
		padding: 21px 27px;
		height: 400px;
		align-items: flex-end;
		margin-bottom: 20px;
		background-repeat: no-repeat;
		background-size: cover;

		@media all and (max-width: 940px) {
			height: 300px;
		}

		.n_inner {
			width: 100%;
		}

		span {
			display: block;
		}

		.name {
			font-style: italic;
			font-weight: 400;
			font-size: 32px;
			line-height: 95%;
			color: #FEFEFE;
			padding-bottom: 10px;
		}

		.text {
			font-style: italic;
			font-weight: 400;
			font-size: 15px;
			line-height: 95%;
			color: #FEFEFE;
			padding-bottom: 15px;
		}

		.bottom {
			display: flex;

			.date {
				flex: 1 1 auto;
				font-style: italic;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
				text-decoration-line: underline;
				color: #FEFEFE;
				padding-right: 20px;
			}

			.xt {
				font-style: italic;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
				color: #5EC8F5;
			}
		}
	}

	.item_new {
		display: flex;
		text-decoration: none;
		margin-bottom: 20px;

		.image {
			flex: 0 0 285px;
			margin-right: 20px;

			@media all and (max-width: 1200px) {
				flex: 0 0 200px;
			}

			img {
				width: 100%;
				height: 188px;
				object-fit: cover;
			}

			@media all and (max-width: 940px) {
				flex: 0 0 120px;
				margin-right: 10px;

				img {
					height: 100px;
				}
			}
		}

		span {
			display: block;
		}

		.inner_n {
			flex: 1 1 auto;

			.date {
				font-style: italic;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #C2C4C7;
				padding-bottom: 5px;
			}

			.name {
				font-style: italic;
				font-weight: 700;
				font-size: 15px;
				line-height: 18px;
				color: #828282;
				margin-bottom: 18px;
			}

			.text {
				font-style: italic;
				font-weight: 400;
				font-size: 15px;
				line-height: 18px;
				color: #828282;
			}
		}
	}

	.list_left {
		flex: 0 0 calc(50% - 10px);
	}

	.list_right {
		flex: 0 0 calc(50% - 10px);
	}
}


.page_list_number {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 4px 0;

	.arrow {
		flex: 0 0 32px;
		width: 32px;
		height: 32px;
		background: rgba(24, 62, 152, 0.1) url("data:image/svg+xml,%3Csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.791994 6.23299L0.0379944 6.98699L6.07299 13.022L6.82699 12.268L1.54599 6.98699L6.80199 1.73099L6.04799 0.97699L3.03499 3.98999L0.791994 6.23299Z' fill='%23183E98'/%3E%3C/svg%3E%0A") 50% no-repeat;
		cursor: pointer;
		margin-right: 10px;

		&.next {
			transform: rotate(180deg);
			margin-left: 10px;
			margin-right: 0;
		}
	}

	.number {
		padding: 0 6px;
		font-style: italic;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #B5B6B8;
		text-decoration: none;

		&.active {
			color: #183E98;
		}
	}

	.dotted {
		font-style: italic;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #B5B6B8;
		padding: 0 6px;
	}
}

.image_block_banner {
	padding: 60px 0;
}

.right_content {
	font-weight: normal;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: #1B1B1F;

	h5 {
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 35px;
		color: #242424;
		margin: 0 0 20px;
	}
}

.content_inner_col .right_content .years_block {
	padding: 20px 0;

	strong {
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 35px;
		color: #242424;
	}

	p{
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 32px;
		color: #1B1B1F;
		margin: 16px 0;
	}
}

.comand_item {
	margin-bottom: 48px;
	display: flex;

	@media all and (max-width: 620px) {
		display: block;
	}

	.image {
		flex: 0 0 380px;
		margin-right: 20px;

		img {
			width: 100%;
		}

		@media all and (max-width: 767px){
			flex: 0 0 250px;
		}

		@media all and (max-width: 620px) {
			margin: 0 0 20px;
		}
	}

	.right_item {
		flex: 1 1 auto;

		.name {
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 35px;
			color: #242424;
			padding-bottom: 5px;
		}

		.body {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 125%;
			color: #1B1B1F;
			padding-bottom: 24px;
		}

		.contacts_com {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			span {
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 100%;
				color: #242424;
				display: block;
				margin-bottom: 7px;
			}

			div {
				padding-left: 33px;
				position: relative;
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 125%;
				color: #242424;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 24px;
					height: 24px;
				}

				&.ph {
					&:before {
						background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1171_5353)'%3E%3Cpath d='M23.7553 0.518921H0.245117V24.0291H23.7553V0.518921Z' fill='white' fill-opacity='0.01'/%3E%3Cpath d='M8.56977 4.28345C8.92561 4.28345 9.25348 4.47644 9.42623 4.78757L10.6245 6.94601C10.7813 7.22862 10.7887 7.57045 10.6442 7.85958L9.48981 10.1683C9.48981 10.1683 9.82434 11.8882 11.2244 13.2882C12.6245 14.6883 14.3385 15.017 14.3385 15.017L16.6469 13.8629C16.9362 13.7182 17.2783 13.7257 17.561 13.8828L19.7256 15.0863C20.0364 15.2591 20.2292 15.5868 20.2292 15.9424V18.4274C20.2292 19.6929 19.0537 20.6069 17.8547 20.2023C15.392 19.3714 11.5693 17.7892 9.14636 15.3662C6.72344 12.9433 5.14127 9.12061 4.31031 6.65796C3.90573 5.45889 4.81973 4.28345 6.08519 4.28345H8.56977Z' stroke='%23333333' stroke-width='1.95918' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1171_5353'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.518921)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
					}
				}

				&.fax {
					&:before {
						background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 2.51892H5.5C4.94771 2.51892 4.5 2.96664 4.5 3.51892V21.5189C4.5 22.0712 4.94771 22.5189 5.5 22.5189H19.5C20.0523 22.5189 20.5 22.0712 20.5 21.5189V3.51892C20.5 2.96664 20.0523 2.51892 19.5 2.51892Z' stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.5 15.5189H15.5' stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.5 18.5189H12' stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5 6.51892H8.5V11.5189H15.5V6.51892Z' stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
					}
				}

				&.days {
					padding-left: 0;
					font-size: 0;

					.day {
						display: inline-block;
						vertical-align: top;
						margin-right: 5px;
						padding: 0 3px;
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						line-height: 125%;
						text-align: center;
						color: #242424;
						border: 1px solid #242424;
						border-radius: 2px;

						&.disable {
							opacity: .4;
						}
					}
				}

				&.time {
					&:before {
						background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0007 23.0483C17.0633 23.0483 21.1673 18.9443 21.1673 13.8817C21.1673 8.819 17.0633 4.71497 12.0007 4.71497C6.93802 4.71497 2.83398 8.819 2.83398 13.8817C2.83398 18.9443 6.93802 23.0483 12.0007 23.0483Z' stroke='%23242424' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M11.8795 8.55835L11.8789 14.0627L15.7651 17.9489' stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 5.38159L5.5 2.88159' stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 5.38159L18.5 2.88159' stroke='%23242424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
					}
				}
			}
		}
	}
}

.new_page_item {
	margin-bottom: 48px;

	@media all and (max-width: 767px){
		margin-bottom: 30px;
	}

	.name {
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 35px;
		color: #242424;
		padding-bottom: 16px;

		a {
			text-decoration: none;
			color: inherit;
		}

		@media all and (max-width: 767px) {
			font-size: 26px;
			line-height: 1;
		}
	}

	.body {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #1B1B1F;
		padding-bottom: 16px;

		@media all and (max-width: 767px) {
			font-size: 18px;
			line-height: 1.2;
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;

		.link {
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			text-align: right;
			color: #F07824;
			text-decoration: none;

			@media all and (max-width: 767px) {
				font-size: 18px;
				line-height: 1.2;
			}
		}

		.date {
			padding-left: 32px;
			position: relative;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 100%;
			color: #828282;

			@media all and (max-width: 767px) {
				font-size: 18px;
				line-height: 1.2;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 24px;
				height: 24px;
				background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 5H3C2.44772 5 2 5.44772 2 6V19C2 19.5523 2.44772 20 3 20H21C21.5523 20 22 19.5523 22 19V6C22 5.44772 21.5523 5 21 5Z' stroke='%23828282' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 3V7' stroke='%23828282' stroke-width='1.7' stroke-linecap='round'/%3E%3Cpath d='M12.5 11.5H7' stroke='%23828282' stroke-width='1.7' stroke-linecap='round'/%3E%3Cpath d='M17 15.5H7' stroke='%23828282' stroke-width='1.7' stroke-linecap='round'/%3E%3Cpath d='M17 3V7' stroke='%23828282' stroke-width='1.7' stroke-linecap='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}
	}
}

.table_wrap {
	overflow: auto;
}

.content_center_wr  {
	table {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 30px;

		td,th {
			border: 1px solid #000;
			padding: 32px 16px;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 23px;
			color: #242424;
		}

		th {
			background: #F0F3F9;

			&:first-child{
				border-radius: 2px 0 0 0;
			}

			&:last-child{
				border-radius: 0 2px 0 0 ;
			}
		}

		tr:nth-child(odd){
			td {
				background: #fff;
			}
		}

		td:nth-child(2) {
			text-align: left;
		}

		tr:last-child {
			td {
				&:first-child{
					border-radius:  0 0 0 2px;
				}

				&:last-child{
					border-radius: 0 0 2px 0;
				}
			}
		}

		&.contacs_table {
			td,th {
				border: none;
				padding: 16px 24px;
			}

			td:first-child {
				min-width: 300px;
			}

			td:last-child{
				white-space: nowrap;
			}
		}
	}
}

.page_404_wr {
	padding: 92px 0;

	.block_inner {
		display: flex;
		align-items: center;

		@media all and (max-width: 1024px){
			display: block;
			text-align: center;
		}

		.left_404 {
			flex: 0 0 488px;
			margin-right: 100px;

			@media all and (max-width: 1024px) {
				margin: 0 0 40px;
			}
		}

		.right_404 {
			flex: 1 1 auto;

			.name {
				font-style: normal;
				font-weight: 400;
				font-size: 30px;
				line-height: 35px;
				color: #242424;
				padding-bottom: 8px;
			}

			.body {
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 28px;
				color: #1B1B1F;
				padding-bottom: 69px;
			}

			.link {
				font-style: italic;
				font-weight: 700;
				font-size: 24px;
				line-height: 28px;
				text-decoration-line: underline;
				color: #F07824;
			}
		}
	}
}



.map_block {
    position: relative;

    .block_inner {

        .map_search {

            .form {
                border: 1px solid #C4C4C4;
                border-radius: 4px;
                height: 38px;
                position: relative;
                padding-right: 80px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 42px;
                    width: 1px;
                    height: 20px;
                    background: #C4C4C4;
                    margin: auto;
                }

                input {
                    width: 100%;
                    height: 36px;
                    padding: 0 13px;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000;
                    border: none;
                    background: none;
                    outline: none;
                }

                .search_reset {
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    border: none;
                    outline: none;
                    background: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9658 1.66669L1.29916 16.3333' stroke='%23183E98' stroke-width='2.66667'/%3E%3Cpath d='M15.9658 16.3334L1.29916 1.66671' stroke='%23183E98' stroke-width='2.66667'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    right: 42px;
                    top: 0;
                    bottom: 0;
                }

                .search_btn {
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    border: none;
                    outline: none;
                    background: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.66667' cy='8.6667' r='7.33333' stroke='%23183E98' stroke-width='2.66667'/%3E%3Cline x1='14.2763' y1='13.7239' x2='19.6096' y2='19.0572' stroke='%23183E98' stroke-width='2.66667'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.login {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B5B6B8;
    transition: all 0.3s;
    margin-left: 14px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 16px;
        height: 16px;
        margin: auto;
        transition: all 0.3s;
        background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.34053 11.0819H9.65947V9.58195H6.34053V11.0819ZM9.65947 11.0819C10.722 11.0819 11.5833 11.9433 11.5833 13.0058H13.0833C13.0833 11.1149 11.5504 9.58195 9.65947 9.58195V11.0819ZM6.34053 9.58195C4.44958 9.58195 2.91667 11.1149 2.91667 13.0058H4.41667C4.41667 11.9433 5.27801 11.0819 6.34053 11.0819V9.58195ZM9.41667 5.99862C9.41667 6.78102 8.7824 7.41528 8 7.41528V8.91528C9.61083 8.91528 10.9167 7.60945 10.9167 5.99862H9.41667ZM8 7.41528C7.2176 7.41528 6.58333 6.78102 6.58333 5.99862H5.08333C5.08333 7.60945 6.38917 8.91528 8 8.91528V7.41528ZM6.58333 5.99862C6.58333 5.21621 7.2176 4.58195 8 4.58195V3.08195C6.38917 3.08195 5.08333 4.38779 5.08333 5.99862H6.58333ZM8 4.58195C8.7824 4.58195 9.41667 5.21621 9.41667 5.99862H10.9167C10.9167 4.38779 9.61083 3.08195 8 3.08195V4.58195ZM13.75 8.16528C13.75 11.3409 11.1756 13.9153 8 13.9153V15.4153C12.0041 15.4153 15.25 12.1693 15.25 8.16528H13.75ZM8 13.9153C4.82436 13.9153 2.25 11.3409 2.25 8.16528H0.75C0.75 12.1693 3.99594 15.4153 8 15.4153V13.9153ZM2.25 8.16528C2.25 4.98965 4.82436 2.41528 8 2.41528V0.915283C3.99594 0.915283 0.75 4.16122 0.75 8.16528H2.25ZM8 2.41528C11.1756 2.41528 13.75 4.98965 13.75 8.16528H15.25C15.25 4.16122 12.0041 0.915283 8 0.915283V2.41528Z' fill='%23B5B6B8'/%3E%3Cpath d='M6.34053 11.0819H9.65947V9.58195H6.34053V11.0819ZM9.65947 11.0819C10.722 11.0819 11.5833 11.9433 11.5833 13.0058H13.0833C13.0833 11.1149 11.5504 9.58195 9.65947 9.58195V11.0819ZM6.34053 9.58195C4.44958 9.58195 2.91667 11.1149 2.91667 13.0058H4.41667C4.41667 11.9433 5.27801 11.0819 6.34053 11.0819V9.58195ZM9.41667 5.99862C9.41667 6.78102 8.7824 7.41528 8 7.41528V8.91528C9.61083 8.91528 10.9167 7.60945 10.9167 5.99862H9.41667ZM8 7.41528C7.2176 7.41528 6.58333 6.78102 6.58333 5.99862H5.08333C5.08333 7.60945 6.38917 8.91528 8 8.91528V7.41528ZM6.58333 5.99862C6.58333 5.21621 7.2176 4.58195 8 4.58195V3.08195C6.38917 3.08195 5.08333 4.38779 5.08333 5.99862H6.58333ZM8 4.58195C8.7824 4.58195 9.41667 5.21621 9.41667 5.99862H10.9167C10.9167 4.38779 9.61083 3.08195 8 3.08195V4.58195ZM13.75 8.16528C13.75 11.3409 11.1756 13.9153 8 13.9153V15.4153C12.0041 15.4153 15.25 12.1693 15.25 8.16528H13.75ZM8 13.9153C4.82436 13.9153 2.25 11.3409 2.25 8.16528H0.75C0.75 12.1693 3.99594 15.4153 8 15.4153V13.9153ZM2.25 8.16528C2.25 4.98965 4.82436 2.41528 8 2.41528V0.915283C3.99594 0.915283 0.75 4.16122 0.75 8.16528H2.25ZM8 2.41528C11.1756 2.41528 13.75 4.98965 13.75 8.16528H15.25C15.25 4.16122 12.0041 0.915283 8 0.915283V2.41528Z' fill='black' fill-opacity='0.2'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }

    &:hover {
        text-decoration-line: underline;
        color: #183E98;

        &:before {
            background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.34053 11.0819H9.65947V9.58195H6.34053V11.0819ZM9.65947 11.0819C10.722 11.0819 11.5833 11.9433 11.5833 13.0058H13.0833C13.0833 11.1149 11.5504 9.58195 9.65947 9.58195V11.0819ZM6.34053 9.58195C4.44958 9.58195 2.91667 11.1149 2.91667 13.0058H4.41667C4.41667 11.9433 5.27801 11.0819 6.34053 11.0819V9.58195ZM9.41667 5.99862C9.41667 6.78102 8.7824 7.41528 8 7.41528V8.91528C9.61083 8.91528 10.9167 7.60945 10.9167 5.99862H9.41667ZM8 7.41528C7.2176 7.41528 6.58333 6.78102 6.58333 5.99862H5.08333C5.08333 7.60945 6.38917 8.91528 8 8.91528V7.41528ZM6.58333 5.99862C6.58333 5.21621 7.2176 4.58195 8 4.58195V3.08195C6.38917 3.08195 5.08333 4.38779 5.08333 5.99862H6.58333ZM8 4.58195C8.7824 4.58195 9.41667 5.21621 9.41667 5.99862H10.9167C10.9167 4.38779 9.61083 3.08195 8 3.08195V4.58195ZM13.75 8.16528C13.75 11.3409 11.1756 13.9153 8 13.9153V15.4153C12.0041 15.4153 15.25 12.1693 15.25 8.16528H13.75ZM8 13.9153C4.82436 13.9153 2.25 11.3409 2.25 8.16528H0.75C0.75 12.1693 3.99594 15.4153 8 15.4153V13.9153ZM2.25 8.16528C2.25 4.98965 4.82436 2.41528 8 2.41528V0.915283C3.99594 0.915283 0.75 4.16122 0.75 8.16528H2.25ZM8 2.41528C11.1756 2.41528 13.75 4.98965 13.75 8.16528H15.25C15.25 4.16122 12.0041 0.915283 8 0.915283V2.41528Z' fill='%23B5B6B8'/%3E%3Cpath d='M6.34053 11.0819H9.65947V9.58195H6.34053V11.0819ZM9.65947 11.0819C10.722 11.0819 11.5833 11.9433 11.5833 13.0058H13.0833C13.0833 11.1149 11.5504 9.58195 9.65947 9.58195V11.0819ZM6.34053 9.58195C4.44958 9.58195 2.91667 11.1149 2.91667 13.0058H4.41667C4.41667 11.9433 5.27801 11.0819 6.34053 11.0819V9.58195ZM9.41667 5.99862C9.41667 6.78102 8.7824 7.41528 8 7.41528V8.91528C9.61083 8.91528 10.9167 7.60945 10.9167 5.99862H9.41667ZM8 7.41528C7.2176 7.41528 6.58333 6.78102 6.58333 5.99862H5.08333C5.08333 7.60945 6.38917 8.91528 8 8.91528V7.41528ZM6.58333 5.99862C6.58333 5.21621 7.2176 4.58195 8 4.58195V3.08195C6.38917 3.08195 5.08333 4.38779 5.08333 5.99862H6.58333ZM8 4.58195C8.7824 4.58195 9.41667 5.21621 9.41667 5.99862H10.9167C10.9167 4.38779 9.61083 3.08195 8 3.08195V4.58195ZM13.75 8.16528C13.75 11.3409 11.1756 13.9153 8 13.9153V15.4153C12.0041 15.4153 15.25 12.1693 15.25 8.16528H13.75ZM8 13.9153C4.82436 13.9153 2.25 11.3409 2.25 8.16528H0.75C0.75 12.1693 3.99594 15.4153 8 15.4153V13.9153ZM2.25 8.16528C2.25 4.98965 4.82436 2.41528 8 2.41528V0.915283C3.99594 0.915283 0.75 4.16122 0.75 8.16528H2.25ZM8 2.41528C11.1756 2.41528 13.75 4.98965 13.75 8.16528H15.25C15.25 4.16122 12.0041 0.915283 8 0.915283V2.41528Z' fill='%23183E98' fill-opacity='1'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }

    @media all and (max-width: 1024px){
        margin-right: 16px;
    }

    @media all and (max-width: 670px){
        display: none;
    }
}

.lang_block {
	text-align: right;
	flex: 0 0 auto;

	.list_lang {
		left: auto;
	}
}

.top_banner_wr {

	.block_inner {
		display: block;
		position: relative;
	}

	.slick-track {
		display: flex;

		.block_inner_item {
			float: none;
			height: auto;
		}
	}

	.slick-arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		background: url("data:image/svg+xml,%3Csvg width='15' height='26' viewBox='0 0 15 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.47405 11.8586L0.909087 13.4236L13.435 25.9495L15 24.3846L4.03902 13.4236L14.9481 2.51449L13.3831 0.949528L7.12951 7.20316L2.47405 11.8586Z' fill='%23F07824'/%3E%3C/svg%3E%0A") 50% no-repeat;
		width: 26px;
		height: 26px;
		margin: auto;
		border: none;
		font-size: 0;
		outline: none;
		cursor: pointer;

		&.slick-prev {
			left: -50px;
		}

		&.slick-next {
			right: -50px;
			transform: rotate(180deg);
		}

		@media all and (max-width: 1260px){
	        display: none !important;
	    }
	}

	.block_inner_item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;

        .link {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			text-decoration: none;
		}

		.btn {
			position: relative;
			z-index: 2;
		}
        
        .left {
            flex: 0 0 528px;
            padding: 36px 0 40px;
            position: relative;

            .btn {
                display: inline-block;
                vertical-align: top;
                width: 184px;
            }

            .title {
                font-style: italic;
                font-weight: 400;
                font-size: 55px;
                line-height: 95%;
                color: #183E98;
                padding-bottom: 20px;
            }

            ul {
                padding: 0 0 60px;
                margin: 0;
                list-style: none;

                li {
                    font-style: italic;
                    font-weight: 300;
                    font-size: 25px;
                    line-height: 152%;
                    color: #183E98;
                }
            }

            @media all and (max-width: 767px)  {
                flex: 0 0 300px;
                padding-top: 16px;

                .title {
                    font-size: 32px;
                }

                ul {
                    padding-bottom: 30px;

                    li {
                        font-size: 22px;
                    }
                }
            }
        }

        .right {
            margin: 0 37px 0 0;

            @media all and (max-width: 1023px){
                margin: 0 0 0 -168px;
            }
        }
    }
}


.reg_form_wr {
	padding-top: 10px;
	padding-left: 32px;
	padding-right: 32px;

	.links_form {
		display: flex;

		a {
			flex: 0 0 50%;
			padding: 12px 8px;
			border-bottom: 2px solid transparent;
			text-align: center;
			letter-spacing: 0.4px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			color: #183E98;
			margin: 0;

			&.active {
				border-color: #183e98;
			}
		}
	}

	.field_warning {
		padding: 14px 16px 14px 50px;
		position: relative;
		border: 1px solid #183E98;
		border-radius: 4px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.15px;
		margin-bottom: 32px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 17px;
			width: 20px;
			height: 20px;
			bottom: 0;
			margin: auto;
			background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.08325 5.41658H10.9166V7.24992H9.08325V5.41658ZM9.08325 9.08325H10.9166V14.5833H9.08325V9.08325ZM9.99992 0.833252C4.93992 0.833252 0.833252 4.93992 0.833252 9.99992C0.833252 15.0599 4.93992 19.1666 9.99992 19.1666C15.0599 19.1666 19.1666 15.0599 19.1666 9.99992C19.1666 4.93992 15.0599 0.833252 9.99992 0.833252ZM9.99992 17.3333C5.95742 17.3333 2.66659 14.0424 2.66659 9.99992C2.66659 5.95742 5.95742 2.66659 9.99992 2.66659C14.0424 2.66659 17.3333 5.95742 17.3333 9.99992C17.3333 14.0424 14.0424 17.3333 9.99992 17.3333Z' fill='%23183E98'/%3E%3C/svg%3E%0A") 50% no-repeat;
		}
	}

	.field {
		position: relative;
		margin-bottom: 24px;

		.name_field {
			position: absolute;
			left: 12px;
			top: -12px;
			background: #fff;
			padding:  0 4px;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: rgba(0, 0, 0, 0.6);
		}
	}

	.field_btn {
		padding-top: 0;

		.police {
			flex: 1 1 auto;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.4px;
			color: rgba(0, 0, 0, 0.6);
			margin-right: 16px;

			a {
				color: #f07824;
			}

			@media all and (max-width: 767px) {
				padding-bottom: 20px;
			}
		}

		.btn {
			padding: 16px 49px;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			min-width: 198px;
			text-transform: uppercase;
			width: auto;
		}
	}

	.link_pass {
		text-align: center;
		padding: 32px 0 0;

		a {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: rgba(0, 0, 0, 0.38);
			text-decoration: none;
		}
	}

	.link_btn {
		margin-right: 24px;
		text-align: right;

		@media all and (max-width: 767px) {
			text-align: center;
			margin: 0 0 20px;
		}

		.btn_back {
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #828282;
			text-transform: uppercase;
		}
	}

	.field {

		&.active_phone {

			.name_field {
				color: rgba(0, 0, 0, 0.38);
			}

			input {
				pointer-events: none;
				border: 1px dashed rgba(0, 0, 0, 0.23);
				color: rgba(0, 0, 0, 0.38);
			}
		}
	}

	.sms_text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #828282;
		padding: 0 30px 24px;

		> span {
			color: #3F51B5;
		}

		.timer_sms {
			display: inline;
		}
	}
}

.profil_left {
	background: #FFFFFF;
	padding: 14px 16px;
	margin-bottom: 20px;
	margin-top: 76px;

	.title_pr {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 100%;
		color: #828282;
		margin-bottom: 4px;
	}	

	.name_pr {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		color: #1B1B1F;
		padding-bottom: 24px;
	}

	.edit_pr {
		a {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			text-decoration-line: underline;
			color: #183E98;
		}
	}
}

.reg_form_wr.my_profill {
	margin: 0;

	@media all and (max-width: 767px){
		padding: 10px 16px 16px;
	}

	.links_form {
		margin: 0 -32px;

		@media all and (max-width: 767px) {
			margin: 0 -16px;
		}

		a {
			flex: 0 0 33.33%;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.4px;
			text-transform: uppercase;

			color: #3F51B5;

			@media all and (max-width: 767px){
				font-size: 12px;
			}
		}
	}

	.pr_address {
		padding: 16px 60px 16px 16px;
		background: rgba(0, 0, 0, 0.04);
		margin-bottom: 12px;
		position: relative;

		.delete_address {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 16px;
			width: 24px;
			height: 24px;
			background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM19 4H15.5L14.5 3H9.5L8.5 4H5V6H19V4Z' fill='black' fill-opacity='0.26'/%3E%3C/svg%3E%0A") 50% no-repeat;
			margin: auto;
			cursor: pointer;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.name_address {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			color: #000000;
			padding-bottom: 8px;
		}

		.text_address {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;
			color: #000000;
		}
	}
}

#file-upload {
	display: none;
}