</div>
	<footer class="footer">
		
	</footer>
</div> 
<div class="form-popup-wrapper contacts_popup">
	<div class="formExtraWrapper">
		<div class="form-b">
			<div class="title">Contacts</div>
			<div class="phone">
				<a href="tel:+7 (495) 123-45-67">+7 (495) 123-45-67</a>
			</div>
			<div class="email">
				<a href="mailto:info@2vjobs.com">info@2vjobs.com</a>
			</div>
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper code_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Оформите заявку </div>
				<div class="field">
					<input type="text" placeholder="Полное имя">
				</div>
				<div class="field">
					<input type="text" placeholder="Номер телефона">
				</div>
				<input class="btn" type="submit" value="Отправить">
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<script src="js/main.js" async></script>
</body>
</html>