<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/main-inner.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top2">
			<ul>
				<li class="opened"><a href="#">Физическим лицам</a></li>
				<li><a href="#">Юридическим лицам</a></li>
			</ul>
		</div>
		<div class="menu_top">
			<ul>
				<li><a href="#">Отправить</a></li>
				<li><a href="#">Получить</a></li>
				<li><a href="#">Тарифы</a></li>
				<li><a href="#">Услуги в отеделниях</a></li>
				<li><a href="#">Онлайн- сервисы</a></li>
			</ul>
		</div> 
		<div class="menu_left_inner"></div>
	</div>
</nav> 
<div class="site_wrapper">
	<header class="header">
		<div class="top_header">
			<div class="block_inner">
				<div class="logo">
					<a href="/">
						<img src="img/logo.svg" alt="">
					</a>
				</div>
				<div class="top_menu_header">
					<ul>
						<li class="opened"><a href="#">Физическим лицам</a></li>
						<li><a href="#">Юридическим лицам</a></li>
					</ul>
				</div>
				<div class="links">
					<a href="#" class="localization">Отделения</a>
					<a href="#" class="help">Помощь</a>
				</div>
				<div class="lang_block">
					<div class="active_lang">Русский</div>
					<div class="list_lang">
						<a href="#">uzb</a>
						<a href="#">eng</a>
					</div>
				</div>
				<a href="#" class="login">Войти</a>
				<div class="burger"></div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="block_inner">
				<div class="header_menu">
					<ul>
						<li>
							<a href="#">Отправить</a>
							<ul>
								<li><a href="">Письмо <span>Простые и заказные до 2000г*</span></a></li>
								<li><a href="">Бандероль <span>Простые и заказные до 2000г*</span></a></li>
								<li><a href="">Мелкий пакет <span>Простые до 2000г</span></a></li>
								<li><a href="">Посылку <span>По странам СНГ и зарубежные</span></a></li>
								<li><a href="">Секограмма <span>Простые и заказные</span></a></li>
								<li><a href="">Телеграмма <span>Сообщение, посланное по телеграфу</span></a></li>
							</ul>
						</li>
						<li><a href="#">Получить</a></li>
						<li><a href="#">Тарифы</a></li>
						<li><a href="#">Услуги в отеделниях</a></li>
						<li>
							<a href="#">Онлайн- сервисы</a>
							<ul>
								<li><a href="">Avval</a></li>
								<li><a href="">Интернет подписка</a></li>
								<li><a href="">Учет корреспонденции</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="search_block">
					<input type="text" placeholder="Пример запроса: RF270145546CN" maxlength="13" id="SearchInput">
					<button class="btn">Отследить</button>
					<div class="error_text">Неверный трек-номер</div>
				</div>
			</div>
		</div>
	</header>
	<div class="content_block_wr">
	