include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Персональный <br>кабинет</div>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>				
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="reg_form_wr">
				<form>
					<div class="links_form">
						<a href="#">Регистрация</a>
						<a href="#" class="active">Войти</a>
					</div>
					<div class="field active_phone">
						<div class="name_field">Номер телефона или эл. почта</div>
						<input type="text" placeholder="" value="+998 90 934 46 57" required>
					</div>
					<div class="field">
						<div class="name_field">Введите код</div>
						<input type="text" placeholder="5-значное число" required>
					</div>
					<div class="sms_text">Мы отправили смс-код на номер <span>+998 90 934 46 57</span>. Она будет доступна <div class="timer_sms"><span id='min'>0</span>м <span id='sec'>00</span>с</div></div>
					<div class="field_btn">
						<div class="link_btn">
							<div class="btn_back">ИЗМЕНИТЬ НОМЕР</div>
						</div>
						<button class="btn">ПОДТВЕРДИТЬ</button>
					</div>
				</form>
			</div>
		</div>
	</div>			
include _footer_inner.jade