include _header_inner.jade		
	<div class="content_center_wr padding_block">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<div class="profil_left">
						<div class="title_pr">Мой профиль</div>
						<div class="name_pr">Makhkamov Bekhzodkhon</div>
						<div class="edit_pr"><a href="#">Редактировать профиль</a></div>
					</div>
					<ul>
						<li class="opened">
							<a href="">Отправления</a>
							<ul>
								<li><a href="">Новое отправление</a></li>
								<li class="opened"><a href="">Мои отправления</a></li>
							</ul>
						</li>
						<li><a href="">Платежная сиестема AVVAL</a></li>
						<li><a href="">Обращения</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="content_title_wr">
						<h1>Мой профиль</h1>
					</div>
					<div class="reg_form_wr my_profill">
						<form>
							<div class="links_form">
								<a href="#">основное</a>
								<a href="#">безопасность</a>
								<a href="#" class="active">мои адреса</a>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="delete_address"></div>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="delete_address"></div>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="delete_address"></div>
							</div>
							<div class="pr_address">
								<div class="name_address">Kay Fleming / (974) 697-9598</div>
								<div class="text_address">1124 Tawny Street, Oklahoma City, FL 22286</div>
								<div class="delete_address"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>			
include _footer_inner.jade