include _header_inner.jade		
	<div class="content_center_wr padding_block">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<div class="profil_left">
						<div class="title_pr">Мой профиль</div>
						<div class="name_pr">Makhkamov Bekhzodkhon</div>
						<div class="edit_pr"><a href="#">Редактировать профиль</a></div>
					</div>
					<ul>
						<li class="opened">
							<a href="">Отправления</a>
							<ul>
								<li><a href="">Новое отправление</a></li>
								<li class="opened"><a href="">Мои отправления</a></li>
							</ul>
						</li>
						<li><a href="">Платежная сиестема AVVAL</a></li>
						<li><a href="">Обращения</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="content_title_wr">
						<h1>Мой профиль</h1>
					</div>
					<div class="reg_form_wr my_profill">
						<form>
							<div class="links_form">
								<a href="#">основное</a>
								<a href="#" class="active">безопасность</a>
								<a href="#">мои адреса</a>
							</div>
							<div class="field">
								<div class="name_field">Номер телефона</div>
								<input type="text" placeholder="" required>
							</div>
							<div class="field">
								<div class="name_field">Старый пароль</div>
								<input type="password" placeholder="" required>
							</div>
							<div class="field">
								<div class="name_field">Новый пароль</div>
								<input type="password" placeholder="" required>
							</div>
							<div class="field">
								<div class="name_field">Подтвердите новый пароль</div>
								<input type="password" placeholder="" required>
							</div>
							<div class="field_btn">
								<button type="submit" class="btn">СОХРАНИТЬ</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>			
include _footer_inner.jade