include _header_profil.jade		
	<div class="content_center_wr padding_block">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<div class="profil_left">
						<div class="title_pr">Мой профиль</div>
						<div class="name_pr">Makhkamov Bekhzodkhon</div>
						<div class="edit_pr"><a href="#">Редактировать профиль</a></div>
					</div>
					<ul>
						<li class="opened">
							<a href="">Отправления</a>
							<ul>
								<li class="opened"><a href="">Новое отправление</a></li>
								<li><a href="">Мои отправления</a></li>
							</ul>
						</li>
						<li><a href="">Платежная сиестема AVVAL</a></li>
						<li><a href="">Обращения</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="content_title_wr">
						<h1>Новое отправление</h1>
						<label for="file-upload" class="btn border">ЗАГРУЗИТЬ *.xls ФАЙЛ
						</label>
						<input id="file-upload" type="file"/>
					</div>
					<form class="form_daeparure">
						<div class="step">
							<div class="title_step">1. Отправитель</div>
							<div class="field">
								<div class="name_field">Фамилия</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Имя</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Номер телефона</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Страна</div>
								<select name="" placeholder="Страна" id="">
									<option value="Страна 1">Страна 1</option>
									<option value="Страна 2">Страна 2</option>
									<option value="Страна 3">Страна 3</option>
									<option value="Страна 4">Страна 4</option>
									<option value="Страна 5">Страна 5</option>
								</select>
							</div>
							<div class="field">
								<div class="name_field">Область / Город</div>
								<select name="" id="">
									<option value="Город 1" selected>Город 1</option>
									<option value="Город 2">Город 2</option>
									<option value="Город 3">Город 3</option>
									<option value="Город 4">Город 4</option>
									<option value="Город 5">Город 5</option>
								</select>
							</div>
							<div class="field">
								<div class="name_field">Адрес</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Почтовый индекс</div>
								<input type="text" placeholder="">
							</div>
							<div class="field checkbox">
								<ul><li><label><input type="checkbox" checked><span></span>Убрать из адресной книжки</label></li></ul>
							</div>
						</div>
						<div class="step">
							<div class="title_step">2. Получатель</div>
							<div class="field">
								<div class="name_field">Фамилия</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Имя</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Номер телефона</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Страна</div>
								<select name="" placeholder="Страна" id="">
									<option value="Страна 1">Страна 1</option>
									<option value="Страна 2">Страна 2</option>
									<option value="Страна 3">Страна 3</option>
									<option value="Страна 4">Страна 4</option>
									<option value="Страна 5">Страна 5</option>
								</select>
							</div>
							<div class="field">
								<div class="name_field">Область / Город</div>
								<select name="" id="">
									<option value="Город 1" selected>Город 1</option>
									<option value="Город 2">Город 2</option>
									<option value="Город 3">Город 3</option>
									<option value="Город 4">Город 4</option>
									<option value="Город 5">Город 5</option>
								</select>
							</div>
							<div class="field">
								<div class="name_field">Адрес</div>
								<input type="text" placeholder="">
							</div>
							<div class="field">
								<div class="name_field">Почтовый индекс</div>
								<input type="text" placeholder="">
							</div>
							<div class="field checkbox">
								<ul><li><label><input type="checkbox"><span></span>Сохранить адрес</label></li></ul>
							</div>
						</div>
						<div class="step">
							<div class="title_step">3. Отправление</div>
							<div class="col_3">
								<div class="field">
									<div class="name_field">Тип отправления</div>
									<select name="" placeholder="" id="">
										<option value="ТАШКЕНТ 1">ТАШКЕНТ 1</option>
										<option value="ТАШКЕНТ 2">ТАШКЕНТ 2</option>
										<option value="ТАШКЕНТ 3">ТАШКЕНТ 3</option>
										<option value="ТАШКЕНТ 4">ТАШКЕНТ 4</option>
										<option value="ТАШКЕНТ 5">ТАШКЕНТ 5</option>
									</select>
								</div>
								<div class="field_slider">
									<div class="name_slider">Укажите вес</div>
									<div id="slider-weight"></div>
								</div>
								<div class="field">
									<div class="name_field">Тип транспорта</div>
									<select name="" placeholder="" id="">
										<option value="тип транспорта 1">тип транспорта 1</option>
										<option value="тип транспорта 2">тип транспорта 2</option>
										<option value="тип транспорта 3">тип транспорта 3</option>
										<option value="тип транспорта 4">тип транспорта 4</option>
										<option value="тип транспорта 5">тип транспорта 5</option>
									</select>
								</div>
							</div>
							<div class="col_3">
								<div class="summ">
									<div class="name_summ">Примерная стоимость</div>
									<div class="price">25 250 сум</div>
								</div>
								<button class="btn border save">Сохранить в черновике</button>
								<button class="btn" type="submit">Получить трек-код</button>
							</div>
						</div>										
					</form>
				</div>
			</div>
		</div>
	</div>			
include _footer_inner.jade