include _header_inner.jade		
	<div class="content_center_wr padding_block">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<div class="profil_left">
						<div class="title_pr">Мой профиль</div>
						<div class="name_pr">Makhkamov Bekhzodkhon</div>
						<div class="edit_pr"><a href="#">Редактировать профиль</a></div>
					</div>
					<ul>
						<li class="opened">
							<a href="">Отправления</a>
							<ul>
								<li><a href="">Новое отправление</a></li>
								<li class="opened"><a href="">Мои отправления</a></li>
							</ul>
						</li>
						<li><a href="">Платежная сиестема AVVAL</a></li>
						<li><a href="">Обращения</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="content_title_wr">
						<h1>CA9938247128UZ</h1>
					</div>
					<div class="or_details">
						<div class="step">
							<div class="title_step">1. Отправитель</div>
							<ul>
								<li>
									<span>ФИО:</span>
									<strong>Махкамов Бехзодхон</strong>
								</li>
								<li>
									<span>Номер телефона:</span>
									<strong>+998(90) 934 46 57</strong>
								</li>
								<li>
									<span>Страна:</span>
									<strong>Узбекистан</strong>
								</li>
								<li>
									<span>Адрес:</span>
									<strong>1279 Quiet Gate Front, Tucson, MD</strong>
								</li>
								<li>
									<span>Почтовый индекс:</span>
									<strong>1279</strong>
								</li>
							</ul>
						</div>
						<div class="step">
							<div class="title_step">2. Получатель</div>
							<ul>
								<li>
									<span>ФИО:</span>
									<strong>Махкамов Бехзодхон</strong>
								</li>
								<li>
									<span>Номер телефона:</span>
									<strong>+998(90) 934 46 57</strong>
								</li>
								<li>
									<span>Страна:</span>
									<strong>Узбекистан</strong>
								</li>
								<li>
									<span>Адрес:</span>
									<strong>1279 Quiet Gate Front, Tucson, MD</strong>
								</li>
								<li>
									<span>Почтовый индекс:</span>
									<strong>1279</strong>
								</li>
							</ul>
						</div>
						<div class="step">
							<div class="title_step">3. Отправление</div>
							<div class="inner">
								<div class="left">
									<ul>
										<li><span>Тип отправления: <strong>Бандероль</strong></span></li>
										<li><span>Вес: <strong>1,9 кг</strong></span></li>
										<li><span>Тип транспорта: <strong>Наземный</strong></span></li>
									</ul>
								</div>
								<div class="right">
									<div class="status paid">ГОТОВ К ОТПРАВКЕ</div>
									<div class="time">Дата создания: 11-02-2022 / 9:38</div>
								</div>
							</div>
						</div>	
						<div class="step">
							<div class="title_step">4. Трекинг</div>
							<div class="inner_point">
								<div class="point">
									<div class="date">26/04/22 11:45</div>
									<div class="dot"></div>
									<div class="status">Обрабатывается</div>
								</div>
								<div class="point">
									<div class="date">26/04/22 11:45</div>
									<div class="dot"></div>
									<div class="status">В пути</div>
								</div>
								<div class="point done">
									<div class="date">26/04/22 11:45</div>
									<div class="dot"></div>
									<div class="status">Принято в − Gulbog' AB - Toshkent vil. - 111806</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>			
include _footer_inner.jade