include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Новости UZPOST</div>
				<a href="" class="btn">Посмотреть все</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Новости
		</div>
	</div>			
	<div class="content_center_wr">
		<div class="block_inner">
			<div class="list_news_wr">
				<div class="list_left">
					<a href="#" class="big_news" style="background-image: url(files/new_big.jpg);">
						<span class="n_inner">
							<span class="name">Почта в Узбекистане в XIX-XXI веках</span>
							<span class="text">Фото: Национальный архив кинофотофонодокументов Узбекистана</span>
							<span class="bottom">
								<span class="date">30 ноября 2021</span>
								<span class="xt">#фотоархив</span>
							</span>
						</span>
					</a>
					<a href="#" class="item_new">
						<span class="image">
							<img src="files/new_image.jpg" alt="">
						</span>
						<span class="inner_n">
							<span class="date">22 октября 2021</span>
							<span class="name">В АО «Узбекистон почтаси» запущена новая государственная услуга.</span>
							<span class="text">Теперь вы можете получить разрешение на изменение (тонировка) цвета стекол вашего автомобиля, связавшись с ближайшим почтовым отделением.</span>
						</span>
					</a>
					<a href="#" class="item_new">
						<span class="image">
							<img src="files/new_image2.jpg" alt="">
						</span>
						<span class="inner_n">
							<span class="date">9 октября 2021</span>
							<span class="name">Всемирный день почты!</span>
							<span class="text">В честь международного праздника мы побывали в АО «Узбекистон почтаси», познакомились с деятельностью...</span>
						</span>
					</a>
				</div>
				<div class="list_right">
					<a href="#" class="item_new">
						<span class="image">
							<img src="files/new_image.jpg" alt="">
						</span>
						<span class="inner_n">
							<span class="date">22 октября 2021</span>
							<span class="name">В АО «Узбекистон почтаси» запущена новая государственная услуга.</span>
							<span class="text">Теперь вы можете получить разрешение на изменение (тонировка) цвета стекол вашего автомобиля, связавшись с ближайшим почтовым отделением.</span>
						</span>
					</a>
					<a href="#" class="item_new">
						<span class="image">
							<img src="files/new_image2.jpg" alt="">
						</span>
						<span class="inner_n">
							<span class="date">9 октября 2021</span>
							<span class="name">Всемирный день почты!</span>
							<span class="text">В честь международного праздника мы побывали в АО «Узбекистон почтаси», познакомились с деятельностью...</span>
						</span>
					</a>
					<a href="#" class="item_new">
						<span class="image">
							<img src="files/new_image.jpg" alt="">
						</span>
						<span class="inner_n">
							<span class="date">22 октября 2021</span>
							<span class="name">В АО «Узбекистон почтаси» запущена новая государственная услуга.</span>
							<span class="text">Теперь вы можете получить разрешение на изменение (тонировка) цвета стекол вашего автомобиля, связавшись с ближайшим почтовым отделением.</span>
						</span>
					</a>
					<a href="#" class="item_new">
						<span class="image">
							<img src="files/new_image2.jpg" alt="">
						</span>
						<span class="inner_n">
							<span class="date">9 октября 2021</span>
							<span class="name">Всемирный день почты!</span>
							<span class="text">В честь международного праздника мы побывали в АО «Узбекистон почтаси», познакомились с деятельностью...</span>
						</span>
					</a>
				</div>
			</div>
			<div class="page_list_number">
				<div class="arrow prev"></div>
				<span class="number active">1</span>
				<a href="" class="number">2</a>
				<span class="dotted">...</span>
				<a href="" class="number">7</a>
				<div class="arrow next"></div>
			</div>
			<div class="image_block_banner">
				<img src="files/bann.png" alt="">
			</div>	
		</div>
	</div>		
		
include _footer_inner.jade