include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Команда</div>
				<a href="" class="btn">Подробнее</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Команда 
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li class="opened">
							<a href="">Органы управления</a>
							<ul>
								<li><a href="">Исполнительные органы</a></li>
							</ul>
						</li>
						<li><a href="">О деятельности</a></li>
						<li><a href="">Вакансии</a></li>
						<li><a href="">Тендеры</a></li>
						<li><a href="">Нормативная база</a></li>
						<li><a href="">Объявления</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Структура организации</a></li>
						<li><a href="">Открытые данные</a></li>
						<li><a href="">Международные партнеры</a></li>
						<li><a href="">Мероприятия</a></li>
						<li><a href="">Государственные награды</a></li>
						<li><a href="">Статистика</a></li>
						<li><a href="">История почты</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="comand_item">
						<div class="image">
							<img src="files/comand1.jpg" alt="">
						</div>
						<div class="right_item">
							<div class="name">Файзуллаев Алишер Насибуллаевич</div>
							<div class="body">Родился 24 сентября 1966 года в г. Ташкенте. Национальность - узбек. В 1988 году окончил Ташкентский электротехнический институт связи; С 12 июля 2019 года занимает должность и.о. Генерального директора акционерного общества «Узбекистон почтаси».</div>
							<div class="contacts_com">
								<span>Номер телефона:</span>
								<div class="ph">
									<a href="tel:(998 61) 222-08-80">(998 61) 222-08-80</a>
								</div>
							</div>
							<div class="contacts_com">
								<span>Факс:</span>
								<div class="fax">(998 61) 222-08-80</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие дни:</span>
								<div class="days">
									<div class="day">Пн.</div>
									<div class="day">Вт.</div>
									<div class="day">Ср.</div>
									<div class="day">Чт.</div>
									<div class="day">Пт.</div>
									<div class="day disable">Сб.</div>
									<div class="day disable">Вс.</div>
								</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие часы:</span>
								<div class="time">09:00 — 18:00</div>
							</div>
						</div>
					</div>
					<div class="comand_item">
						<div class="image">
							<img src="files/comand2.jpg" alt="">
						</div>
						<div class="right_item">
							<div class="name">Файзуллаев Алишер Насибуллаевич</div>
							<div class="body">Родился 24 сентября 1966 года в г. Ташкенте. Национальность - узбек. В 1988 году окончил Ташкентский электротехнический институт связи; С 12 июля 2019 года занимает должность и.о. Генерального директора акционерного общества «Узбекистон почтаси».</div>
							<div class="contacts_com">
								<span>Номер телефона:</span>
								<div class="ph">
									<a href="tel:(998 61) 222-08-80">(998 61) 222-08-80</a>
								</div>
							</div>
							<div class="contacts_com">
								<span>Факс:</span>
								<div class="fax">(998 61) 222-08-80</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие дни:</span>
								<div class="days">
									<div class="day">Пн.</div>
									<div class="day">Вт.</div>
									<div class="day">Ср.</div>
									<div class="day">Чт.</div>
									<div class="day">Пт.</div>
									<div class="day disable">Сб.</div>
									<div class="day disable">Вс.</div>
								</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие часы:</span>
								<div class="time">09:00 — 18:00</div>
							</div>
						</div>
					</div>
					<div class="comand_item">
						<div class="image">
							<img src="files/comand3.jpg" alt="">
						</div>
						<div class="right_item">
							<div class="name">Файзуллаев Алишер Насибуллаевич</div>
							<div class="body">Родился 24 сентября 1966 года в г. Ташкенте. Национальность - узбек. В 1988 году окончил Ташкентский электротехнический институт связи; С 12 июля 2019 года занимает должность и.о. Генерального директора акционерного общества «Узбекистон почтаси».</div>
							<div class="contacts_com">
								<span>Номер телефона:</span>
								<div class="ph">
									<a href="tel:(998 61) 222-08-80">(998 61) 222-08-80</a>
								</div>
							</div>
							<div class="contacts_com">
								<span>Факс:</span>
								<div class="fax">(998 61) 222-08-80</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие дни:</span>
								<div class="days">
									<div class="day">Пн.</div>
									<div class="day">Вт.</div>
									<div class="day">Ср.</div>
									<div class="day">Чт.</div>
									<div class="day">Пт.</div>
									<div class="day disable">Сб.</div>
									<div class="day disable">Вс.</div>
								</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие часы:</span>
								<div class="time">09:00 — 18:00</div>
							</div>
						</div>
					</div>
					<div class="comand_item">
						<div class="image">
							<img src="files/comand4.jpg" alt="">
						</div>
						<div class="right_item">
							<div class="name">Файзуллаев Алишер Насибуллаевич</div>
							<div class="body">Родился 24 сентября 1966 года в г. Ташкенте. Национальность - узбек. В 1988 году окончил Ташкентский электротехнический институт связи; С 12 июля 2019 года занимает должность и.о. Генерального директора акционерного общества «Узбекистон почтаси».</div>
							<div class="contacts_com">
								<span>Номер телефона:</span>
								<div class="ph">
									<a href="tel:(998 61) 222-08-80">(998 61) 222-08-80</a>
								</div>
							</div>
							<div class="contacts_com">
								<span>Факс:</span>
								<div class="fax">(998 61) 222-08-80</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие дни:</span>
								<div class="days">
									<div class="day">Пн.</div>
									<div class="day">Вт.</div>
									<div class="day">Ср.</div>
									<div class="day">Чт.</div>
									<div class="day">Пт.</div>
									<div class="day disable">Сб.</div>
									<div class="day disable">Вс.</div>
								</div>
							</div>
							<div class="contacts_com">
								<span>Рабочие часы:</span>
								<div class="time">09:00 — 18:00</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>			
include _footer_inner.jade