include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">О деятельности <br>АО «Узбекистон почтаси»</div>
				<a href="" class="btn">Подробнее</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Новости
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li>
						
							<a href="">Органы управления</a>
						</li>
						<li class="opened"><a href="">О деятельности</a></li>
						<li><a href="">Вакансии</a></li>
						<li><a href="">Тендеры</a></li>
						<li><a href="">Нормативная база</a></li>
						<li><a href="">Объявления</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Структура организации</a></li>
						<li><a href="">Открытые данные</a></li>
						<li><a href="">Международные партнеры</a></li>
						<li><a href="">Мероприятия</a></li>
						<li><a href="">Государственные награды</a></li>
						<li><a href="">Статистика</a></li>
						<li><a href="">История почты</a></li>
					</ul>
				</div>
				<div class="right_content">
					<p><img src="files/about.jpg" alt=""></p>
					<h5>Почта Узбекистана провела ребрендинг</h5>
					<p>Это видно и на примере разносторонней деятельности национального оператора почтовой связи АО «Узбекистон почтаси». Основываясь на собственном и международном опыте и внедряя самые современные технологии, АО «Узбекистон почтаси» достигло положительных результатов в обеспечении надежности и своевременности предоставляемых населению разноплановых почтовых услуг. <br>2004 год - В связи с реорганизацией ГАК «Узбекистон почтаси» в открытое акционерное общества «Узбекистон почтаси» (Постановление Кабинета Министров Республики Узбекистан №339 от 19.07.04г) АООТ «Коракалпок почтаси» реорганизовано в Каракалпакский филиал  ОАО«Узбекистон почтаси». <br>В состав Каракалпакского филиала ОАО «Узбекистон почтаси» входят 16 узлов почтовой связи. Фактическая численность сотрудников составляет 918 человек, из них почтальонов 358. Услуги почтовой связи предоставляют 214 отделений почтовой связи из них в сельской местности 173.</p>
					<div class="years_block">
						<strong>1991 год</strong>
						<p>В 1991 г. на базе существующих отделов предприятий почтовой связи и распространения печати были созданы объединения почтовой связи и их территориальные подразделения.</p>
					</div>
					<div class="years_block">
						<strong>1992 год</strong>
						<p>В 1992 г. в соответствии с решением собрания учредителей был создан концерн «Узбекистон почтаси» («Почта Узбекистана»).</p>
					</div>
					<div class="years_block">
						<strong>1994 год</strong>
						<p>Важной вехой в развитии национального оператора стало вступление Республики Узбекистан во Всемирный почтовый союз 24 февраля 1994 года. Эта самая большая почтовая сеть в мире объединяет 192 страны, или более 6 миллионов служащих, свыше 700 тысяч почтовых отделений.</p>
					</div>
					<div class="years_block">
						<strong>1997 год</strong>
						<p>В соответствии с Указом Президента Республики Узбекистан «О мерах по реорганизации и совершенствованию управления сферой информационных систем» от 23 июля 1997 г. и Постановлением Кабинета Министров «Об организации деятельности Узбекского агентства почты и телекоммуникаций» от 31 июля 1997 г. для совершенствования управления почтовой связью, информационными и телекоммуникационными системами в стране, а также для внедрения в эти отрасли рыночных механизмов было принято решение о создании Государственной акционерной компании (ГАК) «Узбекистон почтаси».</p>
					</div>
					<div class="years_block">
						<strong>2004 год</strong>
						<p>Согласно постановлению Кабинета Министров Республики Узбекистан «О совершенствовании деятельности в сфере почтовой связи» от 19 июля 2004 г. Государственная акционерная компания «Узбекистон почтаси» была преобразована в Открытое акционерное общество (ОАО) «Узбекистон почтаси».</p>
					</div>
					<div class="years_block">
						<strong>2014 год</strong>
						<p> С 6 мая 2014 года ОАО преобразовано в АО «Узбекистон почтаси», а областные акционерные общества в его филиалы.</p>
					</div>
				</div>
			</div>		
			<div class="image_block_banner">
				<img src="files/bann.png" alt="">
			</div>	
		</div>
		
	</div>			
include _footer_inner.jade