include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">У нас 625 филиалов <br>по всей стране</div>
				<a href="" class="btn">Показать на карте</a>
			</div>
			<div class="right">
				<img src="files/icon_map.png" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Филиалы
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li class="opened">
							<a href="">Все Филиалы</a>
						</li>
						<li><a href="">Каракалпакский филиал</a></li>
						<li><a href="">Андижанский филиал</a></li>
						<li><a href="">Бухарский филиал</a></li>
						<li><a href="">Финансовые услуги</a></li>
						<li><a href="">Джизакский филиал</a></li>
						<li><a href="">Кашкадарьинский филиал</a></li>
						<li><a href="">Навоийский филиал</a></li>
						<li><a href="">Самаркандский филиал</a></li>
						<li><a href="">Сурхандарьинский филиал</a></li>
						<li><a href="">Ферганский филиал</a></li>
						<li><a href="">Сурхандарьинский филиал</a></li>
						<li><a href="">Хорезмский филиал</a></li>
						<li><a href="">Ташкентский филиал</a></li>
						<li><a href="">"Тошкент почтамти" филиал</a></li>
						<li><a href="">"Халкаро почтамти" филиал</a></li>
						<li><a href="">"Узбекистон маркаси" филиал</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="branches_list">
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Каракалпакский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Андижанский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Бухарский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Джизакский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Кашкадарьинский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Навоийский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Наманганский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Наманганский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Сырдарьинский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Сурхандарьинский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Ферганский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Хорезмский филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">Ташкентский филиал </div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">"Тошкент почтамти" филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">"Халкаро почтамти" филиал</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
						<div class="branch">
							<img src="files/branch.jpg" alt="">
							<div class="branch_body">
								<div class="name">«Узбекистон маркаси» ПУ</div>
								<div class="time">Режим работы: <br>9:00-18:00</div>
								<div class="adres">Адрес: <br>230100 город Нукус, <br>улица Дизельная, дом 6.</div>
								<div class="link"><a href="">Показать на карте</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
	</div>			
include _footer_inner.jade