include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Новости UZPOST</div>
				<a href="" class="btn">Посмотреть все</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Новости
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li>
							<a href="">Все Филиалы</a>
						</li>
						<li class="opened"><a href="">Каракалпакский филиал</a></li>
						<li><a href="">Андижанский филиал</a></li>
						<li><a href="">Бухарский филиал</a></li>
						<li><a href="">Финансовые услуги</a></li>
						<li><a href="">Джизакский филиал</a></li>
						<li><a href="">Кашкадарьинский филиал</a></li>
						<li><a href="">Навоийский филиал</a></li>
						<li><a href="">Самаркандский филиал</a></li>
						<li><a href="">Сурхандарьинский филиал</a></li>
						<li><a href="">Ферганский филиал</a></li>
						<li><a href="">Сурхандарьинский филиал</a></li>
						<li><a href="">Хорезмский филиал</a></li>
						<li><a href="">Ташкентский филиал</a></li>
						<li><a href="">"Тошкент почтамти" филиал</a></li>
						<li><a href="">"Халкаро почтамти" филиал</a></li>
						<li><a href="">"Узбекистон маркаси" филиал</a></li>
					</ul>
				</div>
				<div class="right_content">
					<p><img src="files/new_card.jpg" alt=""></p>
					<h5>Почта Узбекистана провела ребрендинг</h5>
					<p>Это видно и на примере разносторонней деятельности национального оператора почтовой связи АО «Узбекистон почтаси». Основываясь на собственном и международном опыте и внедряя самые современные технологии, АО «Узбекистон почтаси» достигло положительных результатов в обеспечении надежности и своевременности предоставляемых населению разноплановых почтовых услуг. <br>2004 год - В связи с реорганизацией ГАК «Узбекистон почтаси» в открытое акционерное общества «Узбекистон почтаси» (Постановление Кабинета Министров Республики Узбекистан №339 от 19.07.04г) АООТ «Коракалпок почтаси» реорганизовано в Каракалпакский филиал  ОАО«Узбекистон почтаси». <br>В состав Каракалпакского филиала ОАО «Узбекистон почтаси» входят 16 узлов почтовой связи. Фактическая численность сотрудников составляет 918 человек, из них почтальонов 358. Услуги почтовой связи предоставляют 214 отделений почтовой связи из них в сельской местности 173.</p>
				</div>
			</div>		
			<div class="image_block_banner">
				<img src="files/bann.png" alt="">
			</div>	
		</div>
		
	</div>			
include _footer_inner.jade