include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">У нас 625 филиалов <br>по всей стране</div>
				<a href="" class="btn">Показать на карте</a>
			</div>
			<div class="right">
				<img src="files/icon_map.png" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Отделения
		</div>
	</div>			
	<div class="content_center_wr">
		<div class="block_inner">
			<h1>Карта</h1>
		</div>
		<div class="map_block">
			<div class="block_inner">
				<div class="map_search">
					<div class="name_search">Отделения и пункты выдачи</div>
					<div class="form">
						<input type="text" id="suggest" placeholder="Введите ваш адрес или почтовый индекс">
						<button type="reset" class="search_reset"></button>
						<button class="search_btn" id="button_search"></button>
					</div>
				</div>
			</div>
			<div id="map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa4a4990f5c51a4f480be1ce524c27a4aa8c72632249a18590e1e4632c5aabbb0&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
			</div>
		</div>
	</div>			
include _footer_inner.jade