include _header_inner.jade
	<div class="page_404_wr">
		<div class="block_inner">
			<div class="left_404">
				<img src="img/404.png" alt="404">
			</div>
			<div class="right_404">
				<div class="name">Страница не найдена</div>
				<div class="body">К сожалению, этой страницы не существует. <br>Вы можете посетить другие страницы:</div>
				<a href="" class="link">Помощь</a>
			</div>
		</div>
	</div>	
include _footer_inner.jade