include _header_inner.jade
	<div class="top_title_block">
		<div class="block_inner">
			<div class="left">
				<div class="title">Тендеры</div>
				<a href="" class="btn">Подробнее</a>
			</div>
			<div class="right">
				<img src="files/icon_card.svg" alt="">
			</div>
		</div>
	</div>		
	<div class="path_block_wr">
		<div class="block_inner">
			<a href="/">Главная</a><span class="sepr"></span>Тендеры 
		</div>
	</div>			
	<div class="content_center_wr ">
		<div class="block_inner">
			<div class="content_inner_col branches_page">
				<div class="left_menu">
					<ul>
						<li>
							<a href="">Органы управления</a>
						</li>
						<li><a href="">О деятельности</a></li>
						<li><a href="">Вакансии</a></li>
						<li class="opened"><a href="">Тендеры</a></li>
						<li><a href="">Нормативная база</a></li>
						<li><a href="">Объявления</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Структура организации</a></li>
						<li><a href="">Открытые данные</a></li>
						<li><a href="">Международные партнеры</a></li>
						<li><a href="">Мероприятия</a></li>
						<li><a href="">Государственные награды</a></li>
						<li><a href="">Статистика</a></li>
						<li><a href="">История почты</a></li>
					</ul>
				</div>
				<div class="right_content">
					<h3>Тендер на приобретение и монтаж оборудования шумовой и тревожной сигнализации</h3>
					<p>В целях принятия превентивных мер по недопущению несанкционированных проникновений и других противоправных действий в отношении работников и клиентов почтовых отделений, АО «Узбекистон почтаси» объявляет конкурс на приобретение и монтаж оборудования шумовой и тревожной сигнализации.</p>
					<h4>Условия конкурса:</h4>
					<table style="text-align: center;">
						<thead>
							<tr>
								<th>№</th>
								<th>Наименование оборудования</th>
								<th>Количество</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Шумовая сигнализация</td>
								<td>126</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Тревожная сигнализация (ручная или ножная)</td>
								<td>9</td>
							</tr>
						</tbody>
					</table>
					<h4>Для участия в конкурсе, участники должны предоставить следующие документы:</h4>
					<p>Ксерокопию свидетельства о государственной регистрации; <br>Ксерокопию лицензии на осуществление указанного вида деятельности; <br>Ксерокопию сертификата соответствия на устанавливаемое оборудование; <br>Ксерокопию паспорта руководителя организации; <br>Письменное коммерческое предложение. </p>
					<h4>Требования к установке:</h4>
					<p>- шумовая сигнализация должна круглосуточно блокировать окна и двери охраняемых объектов. Приборы оповещения должны работать от автономных источников питания;</p>
					<p>- ручные и ножные устройства оповещения о нападении должны размещаться в местах, незаметных для посетителей. Звуковой сигнал о нападении должен быть выведен в помещение сотрудников охраны (контрольно-пропускной пункт).</p>
					<h4>Для участия в конкурсе, участники должны предоставить следующие документы:</h4>
					<p>Исполнитель должен иметь опыт работы в данной сфере. <br>При обнаружении брака в работе или установки низкосортного оборудования, работа не будет принята. <br>При письменном запросе со стороны Заказчика, Исполнитель принимает на себя обязательство (гарантирует) оказывать бесплатные услуги по техническому обслуживанию установленного оборудования в течение гарантийного срока. <br>Требуемая гарантия на оборудование и выполняемых работ не менее 12 месяцев. <br>Оборудование должно быть новым и не бывшим в употреблении, а также в заводской упаковке, с заводской маркировкой и не иметь дефектов. <br>Исполнитель должен иметь офис по юридическому адресу, указанному в Контракте (договоре). <br>Замена дефектного товара должна быть осуществлена «Поставщиком» в течение 5 дней. <br>Оборудование должно соответствовать указанным требованиям. <br>«Поставщик», несет ответственность за полное соответствие услуг по монтажу заявке «Заказчика»; <br>Участник, выигравший конкурс («Поставщик»), должен в течение 3-х календарных дней явиться в офис «Заказчика» для оформления договора.</p>
				</div>
			</div>	
		</div>
	</div>			
include _footer_inner.jade